#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
   
    
}

#obito{
    max-width: 300px;
    height: auto;
    clip-path:circle();
}

hr {
    border:none;
    height:2px;
    width: 300px;
    background-color: white;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    background-image: url(/personal-website-starter/assets/oriental-tiles.png);
}

h1{
    color: white;
}

h3{
    color:white;
}

.link{
    color:white;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    background-color: black;
    border-radius: 5px;
    transition: 0.3s;
}

.link >img
{
    width:20px;
}

.link:hover{
    background-color: orange;
}